
= form_tag test_questions_path, :id => 'test_form', :method => 'get' do
  %h1 Select the topics for the test
  - @selected_topics.each do |topic, val|
    %input{:type => 'checkbox',:value => "selected", :name => "selected_topics[#{topic}]",:checked => @selected_topics[topic] == 'selected', :id => "#{topic}" }= topic
  %input{:type => 'checkbox', :value => "selected", :name => "Default", :checked => @Default == 'selected'} Default
  %button{:value => "clicked", :name => "OK", @OK => 'clicked' } OK

  - if @OK == "clicked"
    = link_to "Take Test",{:controller => "test_questions", :action => "test", :default => @Default, :selected_topics => @selected_topics}, :id => 'test'
