#opt1{
    display:none;
}

#opt2{
    display:none;
}

#opt3{
    display:none;
}

#opt4{
    display:none;
}

#typetf{
    display:none;
}

#typemcq{
    display:none;
}

#question_type{
    width:30px;   
}

#question_image{
    width:200px;
}

.actions{
    width: 150px;
    margin: 4px 2px;
    cursor: pointer;
}

#new_question{
    text-decoration: underline;
}

#show{
    text-decoration: underline;
}

#edit{
    text-decoration: underline;
}

#destroy{
    text-decoration: underline;
}
